<div class="container-sm">
    <h2 id="hformob">TBTTP AJK-Component Dashboard</h2>
    <div class="my-nav">
    <a style="text-align:center;" href="/" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h1>TBTTP AJK-Component Dashboard </h1></a>
    </div>
    <div class="row">
            <nav class="my-nav" >
            <ul id="rcorners2">
                <li><a href="/" id="home" class="btn">Home</a></li>
                <li><a href="/summary" class="btn">Summary</a></li>
                <li><a href="/overlap" id="overlap2020_21" class="btn">Overlaps 2020-21</a></li>
                <li><a href="/overlap2022" class="btn">Overlaps 2021-22</a></li>
                <li><a href="/allplantation_anr1920_overlaps" class="btn">All Plantations Overlaps with ANRs</a></li>

            </ul>
            </nav>

        
    </div>
    <script>
         $('#overlap2020_21').on('click',function(event){
            event.preventDefault()
            window.location.href='/overlap'
         })
         
    </script>
</div>
