<div class="container-sm">
    <h2 id="hformob">TBTTB AJK-Component Dashboard</h2>
    <div class="row">
            <nav class="my-nav" >
            
            <ul id="rcorners2">
                <li><a href="/">Home</a></li>
                <li><a href="/summary">Summary</a></li>
                <li><a href="/overlap">Overlaps</a></li>
            </ul>
            <a style="text-align:center;" href="/" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h1>TBTTB AJK-Component Dashboard </h1></a>

            </nav>
        
    </div>
</div>
